.container {
  max-width: 1440px;
  margin-inline: auto;
}

.body-blur-bg {
  position: fixed;
  inset: 0;
  background-color: $background-filter;
  backdrop-filter: blur(37px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.border-gradient {
  isolation: isolate;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: $linear-border;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    background-color: inherit;
  }
}
