/* .icon-arrow-3:before {
  content: "\e900";
  color: #f7f7f7;
}
.icon-comment:before {
  content: "\e901";
  color: #f7f7f7;
}
.icon-email:before {
  content: "\e902";
  color: #f7f7f7;
}
.icon-heart:before {
  content: "\e903";
  color: #f7f7f7;
}
.icon-insta:before {
  content: "\e904";
  color: #fff;
}
.icon-ita:before {
  content: "\e905";
  color: #f7f7f7;
}
.icon-menu:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
  color: #f7f7f7;
}
.icon-reply:before {
  content: "\e908";
  color: #f7f7f7;
}
.icon-search:before {
  content: "\e909";
  color: #f7f7f7;
}
.icon-send:before {
  content: "\e90a";
  color: #f7f7f7;
}
.icon-telegram:before {
  content: "\e90b";
  color: #f7f7f7;
}
.icon-user:before {
  content: "\e90c";
  color: #f7f7f7;
}
*/
