$white-color: #f7f7f7;
$white-F: #ffffff;
$orange-secondary: #f25c05;
$primary-black: #070707;
$primary-gray: #898989;
$search-color: #1a1a1a;
$white-8percent: rgba($white-color, 0.08);
$linear-border: linear-gradient(160deg, rgba($white-F, 0.8), transparent);
$accent-blue: #3491ff;
$linear-light-image: linear-gradient(180deg, #070707 10%, rgba(0, 0, 0, 0));
$black-8percent: rgba(#000000, 0.08);
$gray-03percent: rgba($primary-gray, 0.3);
$background-filter: rgba(0, 0, 0, 80%);
$background-search-single-post: #2c2c2c;
$silver-primary: #c1c1c1;
$primary-brown: #5b2e13;
$background-button: #643217;
$background-brown: #1d0e08;
$linear-orange: linear-gradient(200deg, #f25c05, transparent);
$icon-header-background: #312f2e;
$linear-button-orange: linear-gradient(130deg, #f25c05 0%, #f21305 100%);
$linear-contact-image: linear-gradient(
  100deg,
  transparent 20%,
  rgba(7, 7, 7, 0.7) 40%,
  #070707 60%
);
$linear-contact-image-mobile: linear-gradient(
  180deg,
  rgba(7, 7, 7, 1),
  transparent 60%,
  rgba(7, 7, 7, 1)
);

$gray: #2c2c2c;
