.button-post-card {
  display: flex;
  font-weight: 200;
  padding: 0.5rem 2.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background: linear-gradient(130deg, #f25c05 0%, #f21305 100%);
  color: $white-color;
}

.button-show-all-mobile {
  width: 100%;
  background-color: $search-color;
  display: flex;
  padding: 0.375rem 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.button-hover {
  display: flex;
  font-weight: 200;
  padding: 0.5rem 2.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background: $background-button;
  border: 0.1rem solid $orange-secondary;
  color: $white-color;
  transition: all 0.3s ease-in-out;
}

.see-all-button {
  font-size: 1rem;
  position: relative;
  isolation: isolate;
  font-weight: 200;
  &:hover {
    &::after,
    &::before {
      scale: 1.3;
    }
    &::before {
      background: $orange-secondary;
    }
  }

  &::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    inset: -1px;
    border-radius: 50%;
    background: #4e2106;
    z-index: -2;
    translate: 20% 20%;
    transition: all 0.3s ease-in-out;
  }
  &::before {
    content: '';
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    inset: -1px;
    right: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: -3;
    background: $linear-orange;
    translate: 20% 20%;
    transition: all 0.3s ease-in-out;
  }
}
