main.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    text-align: center;
  }

  .have-post {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
      max-width: 25%;

      @media (width <= 768px) {
        max-width: unset;
      }
    }
  }

  .pagination-for-search {
    display: flex;
    background-color: $search-color;
    border-radius: 1.6rem;
    align-items: center;
    flex-direction: row-reverse;
    width: fit-content;
    align-self: flex-end;
    overflow: hidden;

    span {
      padding: 0.25rem 2rem;
      &.current {
        background-color: $background-button;
      }
    }
    a {
      &.page-numbers {
        padding: 0.25rem 2rem;
      }
    }
  }

  .not_found {
    img {
      max-height: 40rem;
    }
  }
}
