main.single-inspiration {
  .page-single-inspiration {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .bread-crumb-single-inspiration {
      display: flex;
      padding: 0rem 0.625rem;
      align-items: center;
      gap: 0.5rem;
      > span {
        a {
          color: $primary-gray;
        }
        &:nth-child(2) {
          color: $primary-gray;
        }
      }
    }
    .container-image-title-text-inspiration {
      display: flex;
      gap: 2rem;
      .img-single-inspiration {
        flex: 1;
        > img {
          border-radius: 1.5rem;
        }
      }
      .content-of-title-text-single-inspiration {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .title-single-inspiration {
          font-size: 2.125rem;
        }
        .expert-single-inspiration {
          text-align: justify;
          color: $silver-primary;
        }
      }
    }
    .worked-examples-inspiration {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .worked-examples-title {
        font-size: 1.5rem;
      }
      .inspiration-worked-content {
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        .card-inspiration-two {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          transition: all 0.4s ease-in-out;
          &:hover {
            .btn-inspiration-see-post {
              display: flex;
            }
          }
          .image-inspiration-card {
            min-width: 17rem;
            flex: 1;
            img {
              border-radius: 1.5rem;
              transition: all 0.4s ease-in-out;
              opacity: 1;
              &:hover {
                opacity: 0.5;
              }
            }
          }

          .btn-inspiration-see-post {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 200;
            padding: 0.5rem 3.75rem;
            justify-content: center;
            align-items: center;
            border-radius: 1.25rem;
            pointer-events: none;
            font-size: 1rem;
            translate: -50% -50%;
            background: linear-gradient(130deg, #f25c05 0%, #f21305 100%);
            width: 40%;
            a {
              color: $white-color;
            }
          }
        }
      }
    }
    .related-product-for-inspiration {
      display: flex;
      flex-direction: column;

      gap: 1rem;

      span {
        font-size: 1.5rem;
      }
      .related-product-for-inspiration-content {
        display: flex;
        gap: 1rem;

        flex-wrap: wrap;
        .card-product-related {
          display: flex;
          flex-direction: column;
        }
      }
    }
    @media (width < 900px) {
      .container-image-title-text-inspiration {
        flex-direction: column;
      }
      .worked-examples-inspiration {
        .inspiration-worked-content {
          .card-inspiration-two {
            .btn-inspiration-see-post {
              display: flex;
              background: $white-8percent;
              backdrop-filter: blur(12px);
              width: 100%;
              translate: unset;
              top: unset;
              left: unset;
              bottom: 0rem;
            }
          }
        }
      }
    }
  }
}
