main.single-inspiration {
  .page-single-inspiration {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .bread-crumb-single-inspiration {
      display: flex;
      padding: 0rem 0.625rem;
      align-items: center;
      gap: 0.5rem;
      > span {
        a {
          color: $primary-gray;
        }
        &:nth-child(2) {
          color: $primary-gray;
        }
      }
    }
    .container-image-title-text-inspiration {
      display: flex;
      gap: 2rem;
      .img-single-inspiration {
        flex: 1;
      }
      .content-of-title-text-single-inspiration {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .title-single-inspiration {
          font-size: 2.125rem;
        }
        .expert-single-inspiration {
          text-align: justify;
          color: $silver-primary;
        }
      }
    }

    .related-product-for-inspiration {
      display: flex;
      flex-direction: column;

      gap: 1rem;

      span {
        font-size: 1.5rem;
      }
      .related-product-for-inspiration-content {
        display: flex;
        gap: 1rem;

        flex-wrap: wrap;
        .card-product-related {
          display: flex;
          flex-direction: column;
        }
      }
    }
    @media (width < 900px) {
      .container-image-title-text-inspiration {
        flex-direction: column;
      }
      .worked-examples-inspiration {
        .inspiration-worked-content {
          .card-inspiration-two {
            .btn-inspiration-see-post {
              display: flex;
              background: $white-8percent;
              backdrop-filter: blur(12px);
              width: 100%;
              translate: unset;
              top: unset;
              left: unset;
              bottom: 0rem;
            }
          }
        }
      }
    }
  }
}
