.product-archive {
  display: flex;
  flex-direction: column;

  .posts-loop-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax((280px), 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
