.button-post-card {
  display: flex;
  font-weight: 200;
  padding: 0.75rem 2.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background: linear-gradient(130deg, #f25c05 0%, #f21305 100%);
  color: $white-color;
}
