.card-inspiration {
  flex: 1;
  flex-basis: 49%;
  .image-inspiration-card {
    opacity: 0.5;
    transition: all 0.8s ease-in-out;
    &:hover {
      opacity: 1;
    }
    img {
      border-radius: 1rem;

      height: 100%;
      object-fit: cover;
    }
  }
}
.card-inspiration-two {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
  transition: all 0.4s ease-in-out;
  &:hover {
    .btn-inspiration-see-post {
      display: flex;
    }
  }
  .image-inspiration-card {
    width: 100%;
    img {
      border-radius: 1.5rem;
      transition: all 0.4s ease-in-out;
      opacity: 1;
      height: 100%;
      object-fit: cover;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
