.card-faq {
  &.show {
    display: block;
  }
  background: $search-color;
  padding: 2rem;
  border-radius: 1.625rem;
  transition: 0.3s;
  .title-button-faq-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-faq-card {
      font-size: 1.5rem;
      font-weight: 200;
    }
    .button-faq-card {
      cursor: pointer;
      background: $gray;
      width: 3.16638rem;
      height: 3.16638rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      > i {
        transition: all 0.3s ease-in-out;
        color: $white-color;
        font-size: 1.8rem;
        rotate: 90deg;
        translate: -3px 0;
      }
    }
  }
  .description-faq-card {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    .inner-desc {
      overflow: hidden;
    }
    p {
      font-size: 1rem;
      font-weight: 200;
      color: $primary-gray;
    }
  }
  &.active {
    .description-faq-card {
      grid-template-rows: 1fr;
    }
    .title-button-faq-card {
      .button-faq-card {
        background: $linear-button-orange;
        width: 3.16638rem;
        height: 3.16638rem;
        border-radius: 50%;
        > i {
          transition: all 0.3s ease-in-out;
          rotate: 0deg;

          translate: -1px 3px;
        }
      }
    }
  }
}
