.posts-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  .card-post {
    flex: 1;

    .image-post-card {
    }
    .title-post-card {
    }
    .author-post-card {
    }
    .date-post-card {
    }
    .button-post-card {
    }
  }
}
