.card-product {
  border-radius: 1.625rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 0.625rem;
  flex: 1;
  flex-basis: 20%;
  background-color: $search-color;
  min-width: 15rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    @extend .border-gradient-orange;
    background-color: $background-brown;
    .button-product-card-container {
      @extend .button-hover;
      @extend .border-gradient-orange-red;
    }
  }
  .image-product-card {
  }
  .title-product-card {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .code-product-card {
    display: flex;

    p {
      color: $primary-gray;
    }
  }
  .button-product-card-container {
  }
}
