.card-fqa {
  background: $search-color;
  padding: 2rem;
  border-radius: 1.625rem;
  &.active {
    .description-fqa-card {
      display: block;
    }
  }

  .title-button-fqa-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-fqa-card {
      font-size: 1.5rem;
      font-weight: 200;
    }
    .button-fqa-card {
      background: $linear-button-orange;
      width: 3.16638rem;
      height: 3.16638rem;
      border-radius: 50%;
    }
  }

  .description-fqa-card {
    display: none;

    p {
      font-size: 1rem;
      font-weight: 200;
      color: $primary-gray;
    }
  }
}
